body, p{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: #f9faf8;
  background-color: #1f2937;
  padding-top: 20px;
}

.nav .logo{
  font-size: 24px;
  font-weight: bold;
}

.nav .links {
  display: flex;
  gap: 22px;
}

.hero {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  color: #f9faf8;
  padding-top: 100px;
}

.hero .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
}

.hero button{
  width: 150px;
}

.features > p {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features .holder {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-bottom: 50px;
  
}

.holder div {
  width: 180px;
  text-align: center;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4e6ea;
  color: #1f2937;
  text-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: auto;
  padding-right: auto;
}

.jumbotron .sometext {
  flex: 1;
  width: 700px;
  font-family: italic;
  font-size: 36px;
  margin: 0;
}

.jumbotron .author {
  text-align: end;
  margin: 0;
}

.callLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.callLayout .contentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  background-color: #3882f6;  
  color: #e4e6ea;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
}

.callLayout .contentBox .content .title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.callLayout .contentBox .content .info {
  font-size: 18px;
}

.callLayout .contentBox button {
  background: none;
  height: 35px;
  padding-left: 30px;
  padding-right: 30px;
  border-style: solid;
  border-color: #f9faf8;
  border-radius: 10px;
  color: #f9faf8;
  font-size: 16px;
  font-weight: bold;

}