body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: #f9faf8;
  background-color: #1f2937;
  padding-top: 20px;
}

.nav .logo{
  font-size: 24px;
  font-weight: bold;
}

.nav .links {
  display: flex;
  gap: 22px;
}

.hero {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  color: #f9faf8;
  padding-top: 100px;
}

.hero .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
}

.hero button{
  width: 150px;
}