body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: #f9faf8;
  background-color: #1f2937;
  padding-top: 20px;
}

.nav .logo{
  font-size: 24px;
  font-weight: bold;
}

.nav .links {
  display: flex;
  gap: 22px;
}